DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-grande-e-secreta
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,SEU_PROJETO.web.app,SEU_PROJETO.firebaseapp.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://SEU_PROJETO.web.app,https://SEU_PROJETO.firebaseapp.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
FIREBASE_ENABLED=True
FIREBASE_PROJECT_ID=ID_DO_SEU_PROJETO_FIREBASE
FIREBASE_STORAGE_BUCKET=ID_DO_SEU_PROJETO_FIREBASE.appspot.com
GOOGLE_APPLICATION_CREDENTIALS=firebase-service-account.json
