DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-grande-e-secreta
DJANGO_ALLOWED_HOSTS=SEU_IP_DA_AWS,SEU_DOMINIO.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=http://SEU_IP_DA_AWS,https://SEU_DOMINIO.com.br
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_DB_PATH=/app/data/db.sqlite3
FIREBASE_ENABLED=True
FIREBASE_PROJECT_ID=ID_DO_SEU_PROJETO_FIREBASE
FIREBASE_STORAGE_BUCKET=SEU_BUCKET_FIREBASE
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/firebase-service-account.json
